/*  by 金子力
	This is the css file referring to recipe.html.
	It describes how the content displays in the 
	html file.
*/


h1,h2{
	color:rgb(164,164,0);
	background-color:#F0F0F0;
	font-family:"Century Gothic", Futura, Verdana, sans-serif;
	text-align:center;
	font-size: 22pt;
	font-weight:bold;
	text-decoration:underline;
	letter-spacing:0.2em;
}

h2{
	text-align:left;
	font-size:18pt;
	font-weight:normal;
}


body{
	background-image:url('http://courses.cs.washington.edu/courses/cse190m/09sp/homework/1/silverware.jpg');
	color:rgb(64,64,64);
	font-size:11pt;
	font-family: Georgia, Garamond, serif;
}

a{
	color:rgb(164,164,0);
}

blockquote{
	text-align:justify;
	font-family:italic;
	background-color:rgb(255,255,200);
}

ul{
	list-style-image:url('http://courses.cs.washington.edu/courses/cse190m/09sp/homework/1/pie_icon.gif');
}