@grey : rgb(126, 126, 126);
@blue : rgb(30, 70, 150);
@red  : rgb(250, 60, 60);
*{
	border: black 1px solid;
}
#at-plus-container{
	position:fixed;
	width:20%;
	bottom:10%;
	left:40%;
	#bottom-positioner{
		position:relative;
		#button{
			.disabled{
				color:@grey;
			}
			#info-bar{
				div{
					background-color: @grey;
					border-radius: 50%;
				}
				margin-bottom:10%;
			}
			#control-ring-container{
				#control-ring{
					li{
						list-style-type: none;
					}
					.button{
						background-color: @blue;
					}
					.unread{
						background-color: @red;
					}
				}
			}
			.apb{

				.icon{
					width:80px;
					height:80px;
					border-radius:50%;
					background-color: @blue;
					background-image: url('../images/atplus_green.png');
					background-repeat: no-repeat;
					background-position: center;
				}
			}
		}
	}
}