
#signin-panel{
	margin: 0 auto;
	overflow: hidden;
	width: 350px;
}

.panel-body{
	background-color: rgb(233, 233, 233);
}

.input-group{
	margin-bottom: 5px;
}

i{
	width:13px;
}

button{
	margin-top: 20px;
	width:49%;
}